<article class="post">
      <div class="title">
        <span>{{title}}</span> <br>
        <span>({{contents}})</span>
      </div>
      <div class="meta">
        by {{user.username}} on
        {{created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
    </article>